<div>
	<%= form_tag n, method: :put do %>
		<%= hidden_field_tag(:"friend_request[accept]",true) %>
		<%= button_tag "Accept" %>
	<% end %>
	<%= form_tag n, method: :put do %>
	<%= hidden_field_tag(:"friend_request[accept]",false) %>
		<%= button_tag "Reject" %>
	<% end %>
</div>