<div>
	<%= form_tag n, { class: "form-inline", method: :put} do %>
		<%= hidden_field_tag(:"friend_request[accept]",true) %>
    <%= button_tag(class: "btn btn-default") do %>
    Accept <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
    <% end %>
	<% end %>
	<%= form_tag n, { class: "form-inline", method: :put}  do %>
	<%= hidden_field_tag(:"friend_request[accept]",false) %>
		<%= button_tag(class: "btn btn-default") do %>
    Reject <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
    <% end %>
	<% end %>
</div>