<% a = 0 %>
	<li id= "<%= restaurant.id %>"class="col-xs-6 col-sm-3">
		<ul>
	  <li id="name"><h4><%= restaurant.name %></h4></li>
		<li><%= restaurant.cuisine %></li>
		<li><%= '$' * restaurant.price %></li>
		<li><%= restaurant.rating %></li>

		<% if restaurant.address == @event.location %>
	  	<span aria-hidden="true" class="glyphicon glyphicon-ok confirmed cursor"></span>
	  <% else %>
	  	<span aria-hidden="true" class="glyphicon glyphicon-ok confirm cursor"></span>
	  <% end %>
	  <% if restaurant.favorites.find_by(user_id: current_user.id) == nil%> 
	   <span aria-hidden="true" class="glyphicon glyphicon-heart favorite cursor"><%= restaurant.favorites.count %></span>
	  <% else %>
	  	<span aria-hidden="true" class="glyphicon glyphicon-heart favorited cursor"><%= restaurant.favorites.count %></span>
	  <% end %> 
	</ul>
	</li>
<% a += 1 %>