<div class="col-sm-offset-4 col-sm-4">
<h3>Editing Event</h3>

<%= form_for(@event) do |form| %>
	<h4>Host: <%= @event.creator.name %></h4>
	<%= render form %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
