<h1>Editing Event</h1>

<%= form_for(@event) do |form| %>
	<h4>Host: <%= @event.creator.name %></h4>
	<%= render form %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
