<p id="notice"><%= notice %></p>

<ul class="margin-10 media-list list-group col-xs-12 col-sm-offset-1 col-sm-10">
  <%= link_to new_event_path do %>
  <li class="media list-group-item">
    <h3> <button class="btn btn-default btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
      Add Event</h3>

    </li>
    <% end %>
    <% if @events %>
    <% @events.each do |event| %>
      <li class="media list-group-item">
        <div class="media-left col-xs-2">
          <span class="glyphicon glyphicon-calendar large" aria-hidden="true"></span>
        </div>
          <div class="media-body col-xs-5">
            <%= link_to event do %>
            <h4 class="inline-block"><%= event.name %></h4>
            <% end %>
             <% if current_user.id == event.creator.id %>
              <%= link_to edit_event_path(event) do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></button>
              <% end %>
              <%= link_to event, method: :delete do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
              <% end %>
            <% end %>
            <p><%= event.when.to_formatted_s(:long_ordinal) %></p>
            <%= event.location %>
            <%= event.finalized %>
          </div>
           <div class="media-body col-xs-5">
              <ul>
            <% event.invites.each do |invite| %>
             <%= image_tag invite.user.avatar.url(:icon), class: "avatar avatar-mini" %>
            <% end %>
            </ul>
           </div>
          <% end %>
        </li>
    <% end %>
    </ul>


