<p id="notice"><%= notice %></p>

<ul class="media-list list-group col-xs-12">
  <%= link_to new_event_path do %>
  <li class="media list-group-item">
    <h3> <button class="btn btn-default btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
      Add Event</h3>

    </li>
    <% end %>
    <% if @events %>
    <% @events.each do |event| %>
      <li class="media list-group-item">
        <div class="media-left col-xs-2">
          <span class="glyphicon glyphicon-calendar large" aria-hidden="true"></span>
        </div>
          <div class="media-body col-xs-10">
            <h4 class="inline-block"><%= event.name %></h4>
             <% if current_user.id == event.creator.id %>
              <%= link_to edit_event_path(event) do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></button>
              <% end %>
              <%= link_to event, method: :delete do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
              <% end %>
            <% end %>
            <%= event.when %>
            <%= event.location %>
            <%= event.finalized %>
            <%= event.cuisine %>
            <%= link_to 'Show', event %>
          </div>
          <% end %>
        </li>
    <% end %>
    </ul>


    <br>

