<h1>New Event</h1>

<%= form_for(@event) do |form| %>
	<h4>Host: <%= @event.user.name %></h4>
	<%= render form %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
