<h1>New Event</h1>

<%= form_for(@event) do |form| %>
	<h4>Host: <%= @event.user.name %></h4>
	<%= render form %>
	<strong>Invite</strong><br>
	<% @friends.each do |friend| %>
		<%= check_box_tag "user_id[]", friend.id %>
		<%= friend.name %><br>
	<% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
