<div class='col-sm-offset-4 col-sm-4'>
<h3>New Event</h3>
<%= form_for(@event) do |form| %>
	<strong>Host: <%= current_user.name %></strong>
	<%= render form %>
	<strong>Invite</strong><br>
	<% @friends.each do |friend| %>
		<%= check_box_tag "user_id[]", friend.id %>
		<%= friend.name %><br>
	<% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
    <%= button_to 'Cancel', user_path(current_user.id), method: :get %>

