<div class="col-xs-12 col-sm-offset-1 col-sm-10">
  <div class="col-xs-6">
    <%= link_to events_path do %>
    <h3 class="inline-block">
     <button class="btn btn-default btn-circle"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></button>
     <%= @event.name %></h3>
      <%end%>
      <% if current_user.id == @event.creator.id %>
              <%= link_to edit_event_path(@event) do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></button>
              <% end %>
              <%= link_to @event, method: :delete do %>
                <button class="btn btn-default btn-circle-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
              <% end %>
            <% end %>
    </div>

    <div class="col-xs-6">
      <h3><%= @event.when.to_formatted_s(:long_ordinal) %><h3>
      </div>
    </div>

    <div id="event-subnav" class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="col-xs-3">
        <button id="map-button" class="btn btn-default btn-circle" data-target="#map-container"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></button>
      </div>
      <div class="col-xs-3">
        <button id="rsvp-button" class="btn btn-default btn-circle" data-target="#rsvp-container"><span class="glyphicon glyphicon-user" aria-hidden="true"></button>
      </div>
      <div class="col-xs-3">
        <button id="chat-button" class="btn btn-default btn-circle" data-target="#chat-container"><span class="glyphicon glyphicon-comment" aria-hidden="true"></button>
      </div>
      <div class="col-xs-3">
        <button id="favorite-button" class="btn btn-default btn-circle" data-target="#favorite-container"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></button>
      </div>
    </div>

    <div id="toggle-container">

    <div id="rsvp-container" class="hidden">
    <% @invitees.each do |invite| %>
    <%= render "rsvp", :invite => invite %>
    <% end %>
    </div>

    <div id="chat-container" class="hidden">
    <%= render "chat" %>
    </div>
    
    <div id="map-container" class="">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <%= render "map" %>
      <a href="event/show" class='fs'>Find Restaurants</a>
      <div id='results'></div>
      </div>
    </div>

    <div id="favorite-container" class="hidden">
    <ul id="favorite-wrapper" class="col-xs-12 col-sm-offset-1 col-sm-10">
      <% @event.favorites.each do |place| %>
      <%= render "favorite", :place => place %>
      <% end %>
    </ul>
    </div>

  </div>
    




