<p id="notice"><%= notice %></p>
<strong>Notifications</strong>



<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.when %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Finalized:</strong>
  <%= @event.finalized %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @event.cuisine %>
</p>

<p>
  <strong>Invited</strong>
  <ul>
  <% @invitees.each do |invite| %>
    <li><%= invite.user.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
