    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">appetito</h1>
                        <p class="intro-text">Find the right place to dine.</p>
                        <a href="#about" class="btn btn-circle page-scroll pulse">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Invite Section -->
    <div class="paper">
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-4 text-center">
                <%= image_tag "display/icons/chat.svg", class: "intro-icon" %><h2 class="inline-block">Invite Friends</h2>
                <p>Create a plan to dine out and invite your friends to a group chat.</p>
            </div>
            <div class="col-lg-4 text-center">
                <%= image_tag "display/icons/utensils.svg", class: "intro-icon" %><h2 class="inline-block">Find Restaurants</h2>
                <p>Appetito locates restaurants based on you and your friends' locations. Narrow down choices with price, cuisine, and reservation filters.</p>
            </div>
            <div class="col-lg-4 text-center">
                <%= image_tag "display/icons/check.svg", class: "intro-icon" %><h2 class="inline-block">Vote and Confirm</h2>
                <p>Vote on your favorites as a group and confirm the restaurant to dine together.</p>
            </div>
        </div>
    </section>
</div>

<!-- Splash Graphic -->
<div id="bg2-intro">
</div>

    <!-- Creators -->
    <div class="accent-frame">
    <section id="creators" class="container content-section">
        <div class="row text-center">
            <div class="col-lg-offset-1 col-lg-5">
                <h3 class="margin-10 inline-block">Eunice Kim</h3>
                <strong>Project Manager</strong>
            </div>
            <div class="col-lg-5">
                <h3 class="margin-10 inline-block">Ciara Foran</h3>
                <strong>Web Developer</strong>
            </div>
        </div> 
        <div class="row text-center">
            <div class="col-lg-offset-1 col-lg-5">
                <h3 class="margin-10 inline-block">Remina Greenfield</h3>
                <strong>Web Developer</strong>
            </div>
            <div class="col-lg-5">
                <h3 class="margin-10 inline-block">George Lu</h3>
                <strong>Web Developer</strong>
            </div>
        </div>
    </section>
</div>

<!-- Splash Graphic -->
<div id="bg3-intro">
</div>

    <!-- Sign Up-->
    <div class="paper">
    <section id="signup" class="container content-section">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <%= button_to "Sign Up", new_user_path, {:class => "btn btn-default btn-lg btn-block margin-10", :method => :get}  %>
                <%= button_to "Guest Log In", new_user_path, {:class => "btn btn-default btn-lg btn-block margin-10", :method => :get}  %>
            </div>
        </div>
    </section>
</div>

    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; PrettYetti 2015</p>
        </div>
    </footer>

